<header class="site-header">
<div class="brand" style=color:blue;>  آموزش فتوشاپ <br> <h2>{{site.title}}</h2></div>
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	<div class="container">
<br>
<br>
<br>
 <div class="collapse navbar-collapse" id="navbar-collapse-2" style=margin-right:100px;>
          <ul class="nav navbar-nav navbar-right">
		  </br>
            
            
           
			<li><a href="#">همه ی مطالب</a></li>
			<li><a href="#">درباره ی من</a></li>
			<li><a href="#">صفحه اصلی</a></li>
            
             </ul>
          </div>
        </div>
  </div>

</header>
